@charset "utf-8

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/*Ссылки*/
a {
    color: #FFDD00;
    text-decoration: none;
    border-radius: 0;
    transition: all.3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all.3s ease;
    -ms-transition: all.3s ease;
    padding: 12px;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5en;
}

    a:hover {
        color: black;
        text-decoration: none;
        transition: all.3s ease;
        -moz-transition: all.3s ease;
        -webkit-transition: all.3s ease;
        -ms-transition: all.3s ease;
        font-family: "Segoe UI", sans-serif;
        font-size: 1.5en;
    }

    a:active {
        color: #FFDD00;
        font-size: 1.5en;
    }

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}


.copyringt {
    text-size-adjust: 5px;
    text-align: center;
}

.right {
    float: right;
}

header, footer {
    width: 100%;
}

header {
    padding: 0;
    margin: 0;
    display: block;
    background-image: url(https://i1.wallbox.ru/wallpapers/main/201127/2a885a3932009b9b7275cb5c1dfecd21.jpg);
    text-align: center;
    position: fixed;
    margin-top: -30px;
    border:none:
}

#logo {
    font-size: 2en;
    font-family: "Segoe UI", sans-serif;
}

.nav {
    font-size: 1.5en;
    font-family: Tahoma, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer {
    border-bottom: none;
    margin-top: 0;
    padding: 0;
    height: auto;
    padding-top: 15px;
}

h2 {
    color: #CA5100;
    text-align: center;
    padding: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-transform: uppercase;
}

.h2whatido {
    padding-top: 15px;
}

.h2about {
    color: #FFDD00;
    padding-top: 5%;
}

#plans {
    padding-top: 0;
}

.imgmy {
    border-radius: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.text {
    text-align: center;
    font-size: 22px;
    padding-top: 30;
    padding-left: 20%;
    padding-right: 20%;
}

.text1 {
    text-align: center;
    font-size: 22px;
    display: block;
    padding-bottom: 110px;
    padding-top: 50;
    padding-left: 20%;
    padding-right: 20%;
    color: #FFDD00;
}

h4 {
    color: black;
    text-align: center;
    padding-top: -20px;
}

.text-muted {
    text-align: center;
    color: #357180;
}

ul.social-buttons {
    display: flex;    
    text-align:center;
    width: 80%;
}

    ul.social-buttons li {
        width: 80%;
        height:100%;
        text-align: center;
        display: flex;
        padding-left: 21.67%;
    }

nav {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.aboutme {
    background-image: url("../images/410015255.jpg");
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
}



.whitesmokes {
    padding-bottom: 50px;
    background-color: whitesmoke;
    padding-top: 270px;
}

#buttontop {
    color: white;
    background-color: black;
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5en;
}

/*what i do*/

#wrapper {
    float: left;
    width: 100%;
}

#wrapper #articles {
    float: left;
    width: 100%;
    margin-left: 0;
}

    #wrapper #articles article {
        float: left;
        width: 32.3%;
        border: none;
        box-sizing: border-box;
        background-color: white;
        margin-right: 1%;
        min-height: 240px;
        text-align: center;
    }

.whatido{
    background-color: whitesmoke;
    padding-bottom: 10px;

}

#articles {
    background-color: white;
}

.fa-code {
    font-size: 90px;
    padding-left: 50px;
    color: #FED136;
}

.fa-graduation-cap {
    font-size: 90px;
    padding-left: 50px;
    color: #FED136;
}

.fa-paint-brush {
    font-size: 90px;
    padding-left: 50px;
    color: #FED136;
}

.contact {
    color: black;
    transition: all.3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all.3s ease;
    -ms-transition: all.3s ease;
    border-radius: 5px;
}

.fa-telegram {
    font-size: 50px;
    margin-left: 12px;
    color: black;
}

.fa-facebook-square {
    font-size: 50px;
    margin-left: 12px;
    color: black;
}

.fa-instagram {
    font-size: 50px;
    margin-left: 12px;
    color: black;
}
 
